:foot{
--violet-doux:#6C63FF;
--violet-fonce:#534EDD;
--orange-vif:#FFA726;
--gris-tres-fonce:#333;
--gris-tres-claire:#f8f8fb;
--gris-claire:#eee;

h1{
   color: var(--violet-fonce);
}

}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: var(--gris-tres-claire);
   font-family: Roboto, sans-serif;
   
}